body {
  background-image: url("/My-Portfolio/img/header-shapes-mobile.png");
  background-repeat: no-repeat;
  align-items: center;
  width: 375px;
  height: 718px;
  left: 0;
  top: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 365px;
}

.logo {
  width: 76px;
  height: 20px;
  left: 12px;
  top: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

.navigation {
  width: 18px;
  height: 12px;
  left: 3px;
  top: 6px;
}

.box1 {
  width: 327px;
  height: 150px;
  left: 24px;
  top: 114px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.box2 {
  width: 327px;
  height: 146px;
  left: 24px;
  top: 276px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.box3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 8px;
}

.socials {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 170.17px;
  padding-left: 0;
  margin-left: 8px;
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  width: 327px;
  height: 552px;
  left: calc(50% - 327px / 2);
  top: 114px;
  background: #ffffff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 88px 0px;
}

.item1 {
  width: 295px;
  height: 36px;
  left: 0px;
  top: 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin: 12px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px;
  width: 295px;
  margin: 20px;
}

.item2 {
  width: 55px;
  height: 16px;
  left: 0px;
  top: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.item4 {
  width: 88px;
  height: 16px;
  left: 0px;
  top: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.item6 {
  width: 29px;
  height: 16px;
  left: 0px;
  top: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.paragraph {
  display: flex;
  justify-content: left;
  align-self: flex-start;
  margin-top: 20px;
  width: 295px;
  height: 76px;
  left: 0px;
  top: 92px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.skills {
  display: flex;
  /* justify-content: space-between;*/
  width: 200px;
  margin-top: 20px;
  padding: 0;
}

.html {
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: start;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  left: 0px;
  top: 0px;
  margin-top: 12px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px;
  width: 29px;
  height: 16px;
  left: 12px;
  top: 4px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.css {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  left: 61px;
  top: 0px;
  margin-top: 12px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 8px;
  width: 21px;
  height: 16px;
  left: 12px;
  top: 4px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.javascript {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  position: static;
  margin-top: 12px;
  width: 89px;
  height: 24px;
  left: 114px;
  top: 0px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px 8px;
  width: 65px;
  height: 16px;
  left: 12px;
  top: 4px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  width: 327px;
  height: 552px;
  left: calc(50% - 327px / 2);
  top: 1438px;
  background: #ffffff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  flex: none;
  width: 100px;
  height: 24px;
  left: 12px;
  top: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}
