body {
  background-image: url("/img/header-shapes-mobile.png");
  background-repeat: no-repeat;
  width: 375px;
  height: 718px;
  left: 0;
  top: 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 76px;
  height: 20px;
  left: 12px;
  top: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

.navigation {
  width: 18px;
  height: 12px;
  left: 3px;
  top: 6px;
}

.box1 {
  width: 327px;
  height: 150px;
  left: 24px;
  top: 114px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.box2 {
  width: 327px;
  height: 146px;
  left: 24px;
  top: 276px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.box3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 8px;
}

.socials {
  display: flex;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 12px 0;
}
